@font-face {
	font-family: fascinate;
	src: url("../assets/fonts/Fascinate/Fascinate-Regular.ttf") format("truetype");
}
/* Reset basic styles */
* {
	margin: 0;
	padding: 0;
}

div {
}
body {
	display: flex;
}

div.banner-section {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	flex-shrink: 0;
	background-image: url("../assets/christoph-nolte-RPQic2xV00w-unsplash.jpg");
	background-position: center;
	background-size: cover;
	width: max(30vw, 150px);
	height: 100vh;
	color: white;
}

div.banner-text-detail {
	display: flex;
	position: relative;
	height: 50px;
	color: white;
	top: 20vh;
	align-items: center;
	justify-content: center;
}

div.banner-text-detail > img {
	height: 100%;
	filter: invert(100%);
}

div.banner-text-detail > h2 {
	font-size: max(8.5cqh, 16px);
	font-family: fascinate;
	text-align: center;
	margin-left: 5px;
}

div.img-attribution {
	position: relative;
	text-align: center;
	width: 100%;
	bottom: 0px;
}

div.main-content {
	display: inline-block;
}
